@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue:hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  background-color: var(--neutral-off-white);
  color: var(--neutral-dark-grayish-blue);
}

.container {
  margin: 0 auto;
  max-width: 114rem;
}

.padding-sides {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.grid {
  display: grid;
}

.grid-gap-small {
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}


/* HEADER */
.header {
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 9.12rem;
  padding-bottom: 3.84rem;
}

.nav-logo {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.6rem;
}

.nav-link:link, 
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: inherit;
}

.nav-link:hover, 
.nav-link:active {
  cursor: pointer;
  color: var(--primary-soft-red);
}


/* HERO */

.hero-section {
  padding-top: 1.6rem;
  padding-bottom: 3.84rem;
}

.hero-img {
  width: 100%;
  grid-column: span 2;
}

.hero-aside {
  padding: 3.2rem 2.4rem;
  grid-row: span 2;
  background-color: var(--neutral-very-dark-blue);
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  color: var(--primary-soft-orange);
}

.aside-article-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.article-title:link,
.article-title:visited {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--neutral-off-white);
}

.article-title:hover,
.article-title:active {
  color: var(--primary-soft-orange);
}

.article-text {
  font-size: 1.5rem;
  color: var(--neutral-grayish-blue);
  line-height: 1.7;
}

hr {
  border-color: var(--neutral-grayish-blue);
}

.heading-primary {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 5.6rem;
  color: var(--neutral-very-dark-blue);
}

.hero-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text {
  font-size: 1.7rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: auto;
}

.btn {
  margin-top: auto;
  border: none;
  /* align-self: flex-start; */
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--neutral-off-white);
  background-color: var(--primary-soft-red);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--neutral-very-dark-blue);
}

/* Article section */
.top-article {
  padding-top: 1.6rem;
  margin-bottom: 6.4rem;
}

.article-card {
  display: flex;
  gap: 2rem;
}

.article-img {
  max-width: 30%;
  flex-basis: 20rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-text span {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--neutral-grayish-blue);
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--neutral-very-dark-blue);
}

.card-text--short {
  font-size: 1.5rem;
}